In [46]:
import duckdb
# read from a single Parquet file
duckdb.read_parquet('customers.parquet')
# read multiple Parquet files from a folder
duckdb.read_parquet('transactions.parquet')

duckdb.read_parquet('products.parquet')
# directly read a Parquet file from within SQL

# call read_parquet from within SQL

┌────────────┬────────────────┬───────────────┬───┬─────────┬────────────┬───────────────┬──────────────────────┐
│ product_id │ size_in_litres │ beverage_type │ … │  color  │  flavour   │     brand     │         name         │
│   int64    │     double     │    varchar    │   │ varchar │  varchar   │    varchar    │       varchar        │
├────────────┼────────────────┼───────────────┼───┼─────────┼────────────┼───────────────┼──────────────────────┤
│          1 │            3.0 │ vodka         │ … │ black   │ orange     │ Budweiser     │ 3.0Vodka1900BlackO…  │
│          2 │            0.5 │ brandy        │ … │ black   │ pineapple  │ ChivasRegal   │ 0.5Brandy1970Black…  │
│          3 │           0.25 │ beer          │ … │ white   │ grape      │ JohnnieWalker │ 0.25Beer1970WhiteG…  │
│          4 │           0.75 │ tequila       │ … │ black   │ apple      │ ChivasRegal   │ 0.75Tequila1940Bla…  │
│          5 │            0.5 │ rum           │ … │ black   │ apple      │ JohnnieWalker │ 0.5Rum1970BlackApple │
│          6 │            2.0 │ wine          │ … │ red     │ pineapple  │ GreyGoose     │ 2.0Wine1950RedPine…  │
│          7 │           0.25 │ brandy        │ … │ red     │ cherry     │ GreyGoose     │ 0.25Brandy1930RedC…  │
│          8 │            4.0 │ vodka         │ … │ red     │ lime       │ ChivasRegal   │ 4.0Vodka1930RedLime  │
│          9 │            4.0 │ vodka         │ … │ white   │ lime       │ ChivasRegal   │ 4.0Vodka1910WhiteL…  │
│         10 │            1.0 │ rum           │ … │ yellow  │ cherry     │ Jameson       │ 1.0Rum1940YellowCh…  │
│          · │             ·  │  ·            │ · │   ·     │   ·        │    ·          │          ·           │
│          · │             ·  │  ·            │ · │   ·     │   ·        │    ·          │          ·           │
│          · │             ·  │  ·            │ · │   ·     │   ·        │    ·          │          ·           │
│       9991 │            3.0 │ beer          │ … │ black   │ peach      │ GreyGoose     │ 3.0Beer1930BlackPe…  │
│       9992 │           0.25 │ whisky        │ … │ white   │ cherry     │ JackDaniels   │ 0.25Whisky1970Whit…  │
│       9993 │           0.25 │ wine          │ … │ black   │ cherry     │ JackDaniels   │ 0.25Wine1910BlackC…  │
│       9994 │           0.75 │ whisky        │ … │ white   │ grape      │ JohnnieWalker │ 0.75Whisky1950Whit…  │
│       9995 │            4.0 │ brandy        │ … │ white   │ lime       │ Budweiser     │ 4.0Brandy1940White…  │
│       9996 │           0.75 │ vodka         │ … │ red     │ strawberry │ Budweiser     │ 0.75Vodka1910RedSt…  │
│       9997 │            4.0 │ beer          │ … │ red     │ grape      │ JohnnieWalker │ 4.0Beer1950RedGrape  │
│       9998 │            1.0 │ whisky        │ … │ red     │ orange     │ Budweiser     │ 1.0Whisky1940RedOr…  │
│       9999 │            0.5 │ tequila       │ … │ red     │ orange     │ GreyGoose     │ 0.5Tequila1940RedO…  │
│      10000 │            3.0 │ vodka         │ … │ red     │ pineapple  │ GreyGoose     │ 3.0Vodka1910RedPin…  │
├────────────┴────────────────┴───────────────┴───┴─────────┴────────────┴───────────────┴──────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                             9 columns (7 shown) │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [47]:
duckdb.sql("SELECT * FROM 'transactions.parquet'")

┌────────────────┬─────────────┬────────────┬──────────┬────────────────────────────┐
│ transaction_id │ customer_id │ product_id │ quantity │      transaction_date      │
│     int64      │    int64    │   int64    │  double  │         timestamp          │
├────────────────┼─────────────┼────────────┼──────────┼────────────────────────────┤
│              1 │       12921 │       3737 │      1.0 │ 2023-06-11 17:06:09.611305 │
│              2 │        4001 │      15343 │     0.25 │ 2023-01-01 17:06:09.611319 │
│              3 │       15066 │      16478 │      0.5 │ 2023-06-09 17:06:09.611321 │
│              4 │       12004 │       9811 │      1.0 │ 2022-09-21 17:06:09.611322 │
│              5 │        1751 │      14323 │     0.25 │ 2023-01-30 17:06:09.611323 │
│              6 │       10826 │       4539 │      2.0 │ 2023-01-08 17:06:09.611325 │
│              7 │       18359 │       4180 │      0.5 │ 2022-08-23 17:06:09.611326 │
│              8 │       13296 │       4950 │      0.5 │ 2023-04-25 17:06:09.611327 │
│              9 │        1796 │       4128 │      2.0 │ 2023-07-18 17:06:09.611328 │
│             10 │       16134 │         91 │      2.0 │ 2022-08-24 17:06:09.61133  │
│              · │          ·  │          · │       ·  │             ·              │
│              · │          ·  │          · │       ·  │             ·              │
│              · │          ·  │          · │       ·  │             ·              │
│           9991 │        5941 │       9001 │      1.0 │ 2023-07-14 17:06:09.622089 │
│           9992 │       14147 │      19854 │     0.25 │ 2022-11-01 17:06:09.62209  │
│           9993 │       17574 │       3986 │      0.5 │ 2022-09-21 17:06:09.622091 │
│           9994 │         570 │       7601 │     0.25 │ 2023-05-17 17:06:09.622092 │
│           9995 │        2037 │        737 │      0.5 │ 2023-05-16 17:06:09.622093 │
│           9996 │       10168 │       4295 │      0.5 │ 2022-09-22 17:06:09.622094 │
│           9997 │       11489 │       5697 │      3.0 │ 2023-04-28 17:06:09.622095 │
│           9998 │       10718 │       4531 │     0.25 │ 2022-09-30 17:06:09.622096 │
│           9999 │         376 │       3261 │      3.0 │ 2023-02-25 17:06:09.622097 │
│          10000 │        6912 │      12612 │      0.5 │ 2022-11-09 17:06:09.622098 │
├────────────────┴─────────────┴────────────┴──────────┴────────────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                           5 columns │
└───────────────────────────────────────────────────────────────────────────────────┘

In [48]:
duckdb.sql("SELECT * FROM 'customers.parquet'")

┌─────────────┬──────────┬─────────────┬─────────────┬───────────────┬───────────────────────────┬─────────────────────┐
│ customer_id │ location │ store_type  │ store_size  │  flower_name  │           name            │ number_of_employees │
│    int64    │ varchar  │   varchar   │   varchar   │    varchar    │          varchar          │        int64        │
├─────────────┼──────────┼─────────────┼─────────────┼───────────────┼───────────────────────────┼─────────────────────┤
│           1 │ Toronto  │ Supermarket │ Extra_Small │ Rose          │ Toronto_Supermarket_Ext…  │                   5 │
│           2 │ Toronto  │ Supermarket │ Extra_Small │ Tulip         │ Toronto_Supermarket_Ext…  │                   5 │
│           3 │ Toronto  │ Supermarket │ Extra_Small │ Lily          │ Toronto_Supermarket_Ext…  │                   5 │
│           4 │ Toronto  │ Supermarket │ Extra_Small │ Daisy         │ Toronto_Supermarket_Ext…  │                   5 │
│           5 │ Toronto  │ Supermarket │ Extra_Small │ Sunflower     │ Toronto_Supermarket_Ext…  │                   5 │
│           6 │ Toronto  │ Supermarket │ Extra_Small │ Orchid        │ Toronto_Supermarket_Ext…  │                   5 │
│           7 │ Toronto  │ Supermarket │ Extra_Small │ Daffodil      │ Toronto_Supermarket_Ext…  │                   5 │
│           8 │ Toronto  │ Supermarket │ Extra_Small │ Carnation     │ Toronto_Supermarket_Ext…  │                   5 │
│           9 │ Toronto  │ Supermarket │ Extra_Small │ Violet        │ Toronto_Supermarket_Ext…  │                   5 │
│          10 │ Toronto  │ Supermarket │ Extra_Small │ Chrysanthemum │ Toronto_Supermarket_Ext…  │                   5 │
│           · │    ·     │     ·       │   ·         │  ·            │             ·             │                   · │
│           · │    ·     │     ·       │   ·         │  ·            │             ·             │                   · │
│           · │    ·     │     ·       │   ·         │  ·            │             ·             │                   · │
│        9991 │ Montreal │ Mini_Store  │ Small       │ Rose          │ Montreal_Mini_Store_Sma…  │                  30 │
│        9992 │ Montreal │ Mini_Store  │ Small       │ Tulip         │ Montreal_Mini_Store_Sma…  │                  30 │
│        9993 │ Montreal │ Mini_Store  │ Small       │ Lily          │ Montreal_Mini_Store_Sma…  │                  30 │
│        9994 │ Montreal │ Mini_Store  │ Small       │ Daisy         │ Montreal_Mini_Store_Sma…  │                  30 │
│        9995 │ Montreal │ Mini_Store  │ Small       │ Sunflower     │ Montreal_Mini_Store_Sma…  │                  30 │
│        9996 │ Montreal │ Mini_Store  │ Small       │ Orchid        │ Montreal_Mini_Store_Sma…  │                  30 │
│        9997 │ Montreal │ Mini_Store  │ Small       │ Daffodil      │ Montreal_Mini_Store_Sma…  │                  30 │
│        9998 │ Montreal │ Mini_Store  │ Small       │ Carnation     │ Montreal_Mini_Store_Sma…  │                  30 │
│        9999 │ Montreal │ Mini_Store  │ Small       │ Violet        │ Montreal_Mini_Store_Sma…  │                  30 │
│       10000 │ Montreal │ Mini_Store  │ Small       │ Chrysanthemum │ Montreal_Mini_Store_Sma…  │                  30 │
├─────────────┴──────────┴─────────────┴─────────────┴───────────────┴───────────────────────────┴─────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                                              7 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [49]:
duckdb.sql("SELECT * FROM 'products.parquet'")

┌────────────┬────────────────┬───────────────┬───┬─────────┬────────────┬───────────────┬──────────────────────┐
│ product_id │ size_in_litres │ beverage_type │ … │  color  │  flavour   │     brand     │         name         │
│   int64    │     double     │    varchar    │   │ varchar │  varchar   │    varchar    │       varchar        │
├────────────┼────────────────┼───────────────┼───┼─────────┼────────────┼───────────────┼──────────────────────┤
│          1 │            3.0 │ vodka         │ … │ black   │ orange     │ Budweiser     │ 3.0Vodka1900BlackO…  │
│          2 │            0.5 │ brandy        │ … │ black   │ pineapple  │ ChivasRegal   │ 0.5Brandy1970Black…  │
│          3 │           0.25 │ beer          │ … │ white   │ grape      │ JohnnieWalker │ 0.25Beer1970WhiteG…  │
│          4 │           0.75 │ tequila       │ … │ black   │ apple      │ ChivasRegal   │ 0.75Tequila1940Bla…  │
│          5 │            0.5 │ rum           │ … │ black   │ apple      │ JohnnieWalker │ 0.5Rum1970BlackApple │
│          6 │            2.0 │ wine          │ … │ red     │ pineapple  │ GreyGoose     │ 2.0Wine1950RedPine…  │
│          7 │           0.25 │ brandy        │ … │ red     │ cherry     │ GreyGoose     │ 0.25Brandy1930RedC…  │
│          8 │            4.0 │ vodka         │ … │ red     │ lime       │ ChivasRegal   │ 4.0Vodka1930RedLime  │
│          9 │            4.0 │ vodka         │ … │ white   │ lime       │ ChivasRegal   │ 4.0Vodka1910WhiteL…  │
│         10 │            1.0 │ rum           │ … │ yellow  │ cherry     │ Jameson       │ 1.0Rum1940YellowCh…  │
│          · │             ·  │  ·            │ · │   ·     │   ·        │    ·          │          ·           │
│          · │             ·  │  ·            │ · │   ·     │   ·        │    ·          │          ·           │
│          · │             ·  │  ·            │ · │   ·     │   ·        │    ·          │          ·           │
│       9991 │            3.0 │ beer          │ … │ black   │ peach      │ GreyGoose     │ 3.0Beer1930BlackPe…  │
│       9992 │           0.25 │ whisky        │ … │ white   │ cherry     │ JackDaniels   │ 0.25Whisky1970Whit…  │
│       9993 │           0.25 │ wine          │ … │ black   │ cherry     │ JackDaniels   │ 0.25Wine1910BlackC…  │
│       9994 │           0.75 │ whisky        │ … │ white   │ grape      │ JohnnieWalker │ 0.75Whisky1950Whit…  │
│       9995 │            4.0 │ brandy        │ … │ white   │ lime       │ Budweiser     │ 4.0Brandy1940White…  │
│       9996 │           0.75 │ vodka         │ … │ red     │ strawberry │ Budweiser     │ 0.75Vodka1910RedSt…  │
│       9997 │            4.0 │ beer          │ … │ red     │ grape      │ JohnnieWalker │ 4.0Beer1950RedGrape  │
│       9998 │            1.0 │ whisky        │ … │ red     │ orange     │ Budweiser     │ 1.0Whisky1940RedOr…  │
│       9999 │            0.5 │ tequila       │ … │ red     │ orange     │ GreyGoose     │ 0.5Tequila1940RedO…  │
│      10000 │            3.0 │ vodka         │ … │ red     │ pineapple  │ GreyGoose     │ 3.0Vodka1910RedPin…  │
├────────────┴────────────────┴───────────────┴───┴─────────┴────────────┴───────────────┴──────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                             9 columns (7 shown) │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [50]:
#Using the Monthly moving average using DuckDB

conn = duckdb.connect('my_database.duckdb')
cursor = conn.cursor()

window_size = 3 # used 3 months moving average

# SQL query to calculate the moving average
query = f"""
WITH MonthlySales AS (
    SELECT strftime('%Y-%m', transaction_date) as month, SUM(quantity) as monthly_sales
    FROM 'transactions.parquet'
    GROUP BY strftime('%Y-%m', transaction_date)
)
SELECT month, AVG(monthly_sales) OVER (ROWS BETWEEN {window_size - 1} PRECEDING AND CURRENT ROW) as moving_average
FROM MonthlySales
ORDER BY month
"""

cursor.execute(query)
moving_averages = cursor.fetchall()

# Forecast for the next month is the last value of the moving average list
forecast_next_month = moving_averages[-1][1]

print(f"Forecast for next month's sales: {forecast_next_month}")

Forecast for next month's sales: 20794.666666666668

In [51]:
#other way can be liner extrapolation:
# using slope and intercept of the best fit line

query = """
WITH MonthlySales AS (
    SELECT strftime('%Y-%m', transaction_date) as month, SUM(quantity) as monthly_sales,
           ROW_NUMBER() OVER (ORDER BY strftime('%Y-%m', transaction_date)) as n
    FROM 'transactions.parquet'
    GROUP BY strftime('%Y-%m', transaction_date)
),
SlopeAndIntercept AS (
    SELECT
        (COUNT(*)*SUM(n*monthly_sales) - SUM(n)*SUM(monthly_sales))/(COUNT(*)*SUM(n*n) - SUM(n)*SUM(n)) AS slope,
        AVG(monthly_sales)-(COUNT(*) * SUM(n*monthly_sales) -SUM(n) *SUM(monthly_sales))/(COUNT(*)*SUM(n*n)-SUM(n)*SUM(n))*AVG(n) AS intercept
    FROM MonthlySales
)
SELECT slope * (SELECT MAX(n) + 1 FROM MonthlySales) + intercept as forecast
FROM SlopeAndIntercept
"""

cursor.execute(query)
forecast = cursor.fetchone()[0]

print(f"Forecast for next month's sales (Linear Extrapolation): {forecast}")

Forecast for next month's sales (Linear Extrapolation): 23202.91346153846

In [52]:
# for product substitution
# the above method using slope and intercept of the best fit line  can also be applied once we have the product details

# Define the attributes of the new product
new_product_attributes = {
    'size_in_litres': 3.0,
    'beverage_types': 'vodka',
    'brands': 'Budweiser',
}

#Create the SQL query to find matching products and their historical sales
query = """
WITH MatchingProducts AS (
    SELECT p.product_id
    FROM 'products.parquet' p
    WHERE p.size_in_litres = {size_in_litres} AND p.beverage_type = '{beverage_types}' AND p.brand = '{brands}'
),
HistoricalSales AS (
    SELECT strftime('%Y-%m', t.transaction_date) as month, SUM(t.quantity) as monthly_sales
    FROM transactions.parquet t
    JOIN MatchingProducts mp ON t.product_id = mp.product_id
    GROUP BY strftime('%Y-%m', t.transaction_date)
)
SELECT SUM(hs.monthly_sales) / COUNT(*) AS forecast_next_month
FROM HistoricalSales hs
""".format(**new_product_attributes)

# Execute the query and get the result


cursor.execute(query)
forecast_next_month = cursor.fetchone()[0]

print(f"Forecast for next month's sales for the new product: {forecast_next_month}")

Forecast for next month's sales for the new product: 80.65384615384616