In [2]:
import duckdb
import pandas as pd

In [3]:
trandf = pd.read_csv('Order.csv',sep=",")
ordersdf=pd.read_table('Orders.csv',sep=",")
custdf=pd.read_table('Customer.csv',sep=",")
salesdf=pd.read_table('Salesman.csv',sep=",")
'''
duckdb.sql("Drop table transaction")
duckdb.sql("Drop table orders")
duckdb.sql("Drop table customers")
duckdb.sql("Drop table sales")
'''

'\nduckdb.sql("Drop table transaction")\nduckdb.sql("Drop table orders")\nduckdb.sql("Drop table customers")\nduckdb.sql("Drop table sales")\n'

In [4]:
duckdb.sql(" create TABLE transaction AS SELECT * FROM trandf")
duckdb.sql("INSERT INTO transaction SELECT * FROM trandf")

duckdb.sql("CREATE TABLE orders AS SELECT * FROM ordersdf")
duckdb.sql("INSERT INTO orders SELECT * FROM ordersdf")

duckdb.sql("CREATE TABLE customers AS SELECT * FROM custdf")
duckdb.sql("INSERT INTO customers SELECT * FROM custdf")

duckdb.sql("CREATE TABLE sales AS SELECT * FROM salesdf")
duckdb.sql("INSERT INTO sales SELECT * FROM salesdf")

In [5]:
duckdb.sql("select * from transaction limit 2")

┌──────────────────────────────────────┬────────────────────────────┬────────────────────┐
│               orderId                │            Date            │       Amount       │
│               varchar                │          varchar           │       double       │
├──────────────────────────────────────┼────────────────────────────┼────────────────────┤
│ 728c68ad-7aad-4c2d-b923-3e7a2b4dc483 │ 2023-02-03 17:33:34.648552 │ 215.62263154223425 │
│ a7c76589-63c2-461c-bd54-24dfaad1b93b │ 2023-07-04 17:33:34.648922 │ 119.60487811212104 │
└──────────────────────────────────────┴────────────────────────────┴────────────────────┘

In [6]:
duckdb.sql("ALTER TABLE transaction ALTER Date TYPE timestamp")

In [7]:
duckdb.sql("select * from transaction limit 2")

┌──────────────────────────────────────┬────────────────────────────┬────────────────────┐
│               orderId                │            Date            │       Amount       │
│               varchar                │         timestamp          │       double       │
├──────────────────────────────────────┼────────────────────────────┼────────────────────┤
│ 728c68ad-7aad-4c2d-b923-3e7a2b4dc483 │ 2023-02-03 17:33:34.648552 │ 215.62263154223425 │
│ a7c76589-63c2-461c-bd54-24dfaad1b93b │ 2023-07-04 17:33:34.648922 │ 119.60487811212104 │
└──────────────────────────────────────┴────────────────────────────┴────────────────────┘

In [8]:
duckdb.sql("select * from orders limit 2")

┌──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┐
│               orderId                │              CustomerId              │               SalesId                │
│               varchar                │               varchar                │               varchar                │
├──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┤
│ dfe72e0e-408f-4add-a4d0-b84cfba10bd5 │ 88f15aef-768c-4038-966f-30c339dfdb68 │ 105a836b-01e0-42be-adb3-4dfcea8adf70 │
│ f679757d-048a-492d-a6b4-77603820b747 │ 7d74efd2-b208-43f5-a59f-2c23b92bfef0 │ 54ec8d0b-4b15-40e5-bcca-458c3303765c │
└──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┘

In [9]:
duckdb.sql("select * from customers limit 2")

┌──────────────────────────────────────┬──────────────┬──────────┬───────┐
│              CustomerId              │     Name     │ Province │  Age  │
│               varchar                │   varchar    │ varchar  │ int64 │
├──────────────────────────────────────┼──────────────┼──────────┼───────┤
│ 88f15aef-768c-4038-966f-30c339dfdb68 │ Ann Ponce    │ Manitoba │    73 │
│ 7d74efd2-b208-43f5-a59f-2c23b92bfef0 │ Sandra Ellis │ Quebec   │    45 │
└──────────────────────────────────────┴──────────────┴──────────┴───────┘

In [10]:
duckdb.sql("select * from sales limit 2")

┌──────────────────────────────────────┬─────────────────────┬──────────────┬───────┐
│               SalesId                │        Name         │   Province   │  Age  │
│               varchar                │       varchar       │   varchar    │ int64 │
├──────────────────────────────────────┼─────────────────────┼──────────────┼───────┤
│ 105a836b-01e0-42be-adb3-4dfcea8adf70 │ Jacqueline Davidson │ Saskatchewan │    54 │
│ 54ec8d0b-4b15-40e5-bcca-458c3303765c │ Karen Simon         │ Manitoba     │    28 │
└──────────────────────────────────────┴─────────────────────┴──────────────┴───────┘

In [11]:
''' Sql query to find average age of sales man in a province along with the mininmum age and max age per province'''
'''Similar results can be replicated for the customers table'''
duckdb.sql("select province, avg(age) as AverageAge,min(age) as MinAge ,max(age) as MaxAge from sales group by province")

┌───────────────────────────┬────────────────────┬────────┬────────┐
│         Province          │     AverageAge     │ MinAge │ MaxAge │
│          varchar          │       double       │ int64  │ int64  │
├───────────────────────────┼────────────────────┼────────┼────────┤
│ Saskatchewan              │  44.74571140262361 │     25 │     65 │
│ Manitoba                  │ 44.778978388998034 │     25 │     65 │
│ British Columbia          │  45.07258883248731 │     25 │     65 │
│ Newfoundland and Labrador │ 44.695915279878975 │     25 │     65 │
│ Ontario                   │  44.73665297741273 │     25 │     65 │
│ Prince Edward Island      │  44.82275931520645 │     25 │     65 │
│ Nova Scotia               │ 45.023054755043226 │     25 │     65 │
│ Quebec                    │ 45.092574257425746 │     25 │     65 │
│ New Brunswick             │  44.89420654911839 │     25 │     65 │
│ Alberta                   │ 45.124501992031874 │     25 │     65 │
├───────────────────────────┴────────────────────┴────────┴────────┤
│ 10 rows                                                4 columns │
└──────────────────────────────────────────────────────────────────┘

In [12]:
'''Query to run the amount of sales each year'''
duckdb.sql("select date_part('year',Date) as Years, round(sum(amount),2) from transaction group by Years")

┌───────┬───────────────────────┐
│ Years │ round(sum(amount), 2) │
│ int64 │        double         │
├───────┼───────────────────────┤
│  2022 │            8274841.98 │
│  2023 │           11902776.77 │
└───────┴───────────────────────┘

In [13]:
'''Query to run the amount of sales each month'''
duckdb.sql("select date_part('month',Date) as Month, round(sum(amount),2) as TotalSum from transaction group by Month")

┌───────┬────────────┐
│ Month │  TotalSum  │
│ int64 │   double   │
├───────┼────────────┤
│     1 │ 1599638.11 │
│     2 │ 1485083.29 │
│     3 │ 1722266.86 │
│     4 │ 1571995.64 │
│     5 │ 1713890.94 │
│     6 │ 1694987.43 │
│     7 │ 1706391.08 │
│     8 │  1820613.7 │
│     9 │ 1657669.25 │
│    10 │ 1790749.25 │
│    11 │ 1693263.36 │
│    12 │ 1721069.83 │
├───────┴────────────┤
│ 12 rows  2 columns │
└────────────────────┘

In [14]:
'''Query to find the money spent in sales for each Province, 
Total Amount, AvgAmount, TotalCustomers Amounts rounder upto 2 decimal places'''
duckdb.sql("select Province, round(sum(amount),2) as TotalAmount, round(avg(amount),2) as AvgAmount, count(c.customerid) as TotalCustomers from transaction t join orders as o on t.orderid=o.orderid join customers as c on c.customerid=o.customerid group by Province order by TotalAmount,AvgAmount,Province ")

┌───────────────────────────┬─────────────┬───────────┬────────────────┐
│         Province          │ TotalAmount │ AvgAmount │ TotalCustomers │
│          varchar          │   double    │  double   │     int64      │
├───────────────────────────┼─────────────┼───────────┼────────────────┤
│ British Columbia          │  7776500.91 │    495.19 │          15704 │
│ Quebec                    │  7912728.04 │    497.53 │          15904 │
│ Ontario                   │  7948705.65 │    504.62 │          15752 │
│ Alberta                   │  7953743.62 │    508.55 │          15640 │
│ Saskatchewan              │  7967067.09 │    502.72 │          15848 │
│ New Brunswick             │  8105529.35 │    503.32 │          16104 │
│ Newfoundland and Labrador │  8210894.97 │     506.6 │          16208 │
│ Manitoba                  │  8231038.74 │    504.35 │          16320 │
│ Nova Scotia               │  8279793.36 │    509.34 │          16256 │
│ Prince Edward Island      │  8354203.17 │    513.66 │          16264 │
├───────────────────────────┴─────────────┴───────────┴────────────────┤
│ 10 rows                                                    4 columns │
└──────────────────────────────────────────────────────────────────────┘

In [15]:
'''Top 10 sales persons with maximum sales by Amount'''
duckdb.sql("select s.salesid, sum(t.amount) as TotalSales  from transaction t join orders as o on t.orderid=o.orderid join sales as s on s.salesid=s.salesid group by s.salesid order by TotalSales desc limit 10 ")

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

┌──────────────────────────────────────┬───────────────────┐
│               SalesId                │    TotalSales     │
│               varchar                │      double       │
├──────────────────────────────────────┼───────────────────┤
│ b94d2c9e-8398-4b7f-af83-345352ab7fcc │ 80740204.89703828 │
│ 8247bcab-8b86-4cbb-9be3-7d6893e725de │ 80740204.89703828 │
│ b32322fe-eb5e-46c5-8f9f-8bc438f268b3 │ 80740204.89703828 │
│ 45acd10e-9789-400b-9f49-bf36e668929e │ 80740204.89703828 │
│ ca545952-ad76-4aae-8ccf-e962f25e3ba8 │ 80740204.89703828 │
│ 83c96da8-b1ab-45ac-bc7e-1bacb946db7a │ 80740204.89703828 │
│ 3ecea6d6-edd9-4a6e-ad7a-0118ece34094 │ 80740204.89703828 │
│ 606506fa-183a-4ca7-9eb1-cea5a8e5d4d2 │ 80740204.89703828 │
│ a5ba3507-68e2-463e-bf23-3d0082c4331c │ 80740204.89703828 │
│ 82b85336-b9d8-40e8-bc91-ce7cec77f71e │ 80740204.89703828 │
├──────────────────────────────────────┴───────────────────┤
│ 10 rows                                        2 columns │
└──────────────────────────────────────────────────────────┘

In [19]:
'''Amount of sales for each age group 0-25, 26-50,51-end'''
duckdb.sql("select sum(case when c.age <=25 then 1 else 0 end) as Age_0to25, sum(case when c.age >25 and c.age<=50 then 1 else 0 end) as Age_26to50, sum(case when c.age >50 then 1 else 0 end) as Age_51to100 from transaction t join orders o on t.orderid=o.orderid join customers c on o.customerid=c.customerid")

┌───────────┬────────────┬─────────────┐
│ Age_0to25 │ Age_26to50 │ Age_51to100 │
│  int128   │   int128   │   int128    │
├───────────┼────────────┼─────────────┤
│     20352 │      63848 │       75800 │
└───────────┴────────────┴─────────────┘

In [23]:
'''Amount of sales for each age group 0-25, 26-50,51-end'''
duckdb.sql("select round(sum(case when c.age <=25 then t.amount else 0 end),2) as Amt_0to25, round(sum(case when c.age >25 and c.age<=50 then t.amount else 0 end),2) as Amt_26to50, round(sum(case when c.age >50 then t.amount else 0 end),2) as Amt_51to100 from transaction t join orders o on t.orderid=o.orderid join customers c on o.customerid=c.customerid")

┌─────────────┬─────────────┬─────────────┐
│  Amt_0to25  │ Amt_26to50  │ Amt_51to100 │
│   double    │   double    │   double    │
├─────────────┼─────────────┼─────────────┤
│ 10174497.02 │ 32373221.56 │ 38192486.32 │
└─────────────┴─────────────┴─────────────┘