In [14]:
!apt-get update -qq > /dev/null
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://dlcdn.apache.org/spark/spark-3.3.2/spark-3.3.2-bin-hadoop2.tgz
!tar xf spark-3.3.2-bin-hadoop2.tgz
!pip install -q findspark

In [15]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.2-bin-hadoop2"

import findspark
findspark.init()

from pyspark.sql import SparkSession
import random

spark = SparkSession.builder.appName("YourTest").master("local[2]").config('spark.ui.port', random.randrange(4000,5000)).getOrCreate()

In [26]:
transaction=spark.read.option("header","true").csv("Order.csv")
transaction.show(10,False)

+------------------------------------+--------------------------+------------------+
|orderId                             |Date                      |Amount            |
+------------------------------------+--------------------------+------------------+
|728c68ad-7aad-4c2d-b923-3e7a2b4dc483|2023-02-03 17:33:34.648552|215.62263154223422|
|a7c76589-63c2-461c-bd54-24dfaad1b93b|2023-07-04 17:33:34.648922|119.60487811212103|
|6ad74054-4dda-4263-b18c-6c85a1d104ec|2023-07-02 17:33:34.648927|477.70722585788195|
|1defcd42-7cbf-4e7a-87ca-77e15b93688e|2023-05-27 17:33:34.648929|756.2136167685717 |
|9b7d5a66-6255-45d6-8808-7fec8a37d517|2023-04-01 17:33:34.648931|62.52531043825501 |
|4360e9ac-4250-44d9-a932-6d3eac822f43|2022-11-03 17:33:34.648933|58.08950202168354 |
|ed21e3be-8588-4309-b5c4-af227c2b866d|2022-11-01 17:33:34.648934|886.0951454820862 |
|10cd2baf-7b3d-445c-98f4-442beb44354f|2022-12-30 17:33:34.648936|72.8446714270986  |
|18621a48-2ce0-4058-81bf-7068a325d378|2022-09-06 17:33:34.648938|265.6083632391815 |
|00df03d5-6f92-422b-9015-b309903fc593|2023-07-02 17:33:34.648939|87.56753514621104 |
+------------------------------------+--------------------------+------------------+
only showing top 10 rows

In [27]:
orders=spark.read.option("header","true").csv("Orders.csv")
orders.show(10)

+--------------------+--------------------+--------------------+
|             orderId|          CustomerId|             SalesId|
+--------------------+--------------------+--------------------+
|dfe72e0e-408f-4ad...|88f15aef-768c-403...|105a836b-01e0-42b...|
|f679757d-048a-492...|7d74efd2-b208-43f...|54ec8d0b-4b15-40e...|
|2e5f2b8c-dd9b-486...|df66c3b9-4661-4d5...|76b5d5e1-395c-4d2...|
|e15dd391-7cd7-454...|78a390ef-24fe-40b...|f7274305-e452-4ea...|
|9fb5805d-c718-41c...|d92a1ddc-d7ec-460...|e603c54a-a033-467...|
|a9ce0e06-4aee-481...|868ae132-201f-40a...|27d67434-18df-4d4...|
|f9970eb5-1199-4b4...|d9e8900e-62d5-49c...|147af1e7-3b05-448...|
|5dd66d30-b9f5-4d3...|70253ad8-48a9-482...|f8725a94-5829-4f4...|
|e9aa9b6f-bb56-4b8...|025809a2-b52b-4b2...|1f952c54-b904-4e3...|
|7a5a64cd-fb50-49e...|b7b5d5ff-96bc-4ed...|fea5cf9b-2be8-47d...|
+--------------------+--------------------+--------------------+
only showing top 10 rows

In [34]:
customers=spark.read.option("header","true").csv("Customer.csv")
customers.show(10)

+--------------------+----------------+--------------------+---+
|          CustomerId|            Name|            Province|Age|
+--------------------+----------------+--------------------+---+
|88f15aef-768c-403...|       Ann Ponce|            Manitoba| 73|
|7d74efd2-b208-43f...|    Sandra Ellis|              Quebec| 45|
|df66c3b9-4661-4d5...|  Tabitha Thomas|Prince Edward Island| 20|
|78a390ef-24fe-40b...|    Alexis Bates|Newfoundland and ...| 54|
|d92a1ddc-d7ec-460...|Brenda Rodriguez|             Ontario| 37|
|868ae132-201f-40a...|  Isabella Reyes|             Alberta| 56|
|d9e8900e-62d5-49c...|     Jacob Brown|            Manitoba| 40|
|70253ad8-48a9-482...|      John Riley|Newfoundland and ...| 79|
|025809a2-b52b-4b2...|   Tina Richards|         Nova Scotia| 24|
|b7b5d5ff-96bc-4ed...|     Tyler Green|       New Brunswick| 26|
+--------------------+----------------+--------------------+---+
only showing top 10 rows

In [35]:
sales=spark.read.option("header","true").csv("Salesman.csv")
sales.show(10)

+--------------------+-------------------+--------------------+---+
|             SalesId|               Name|            Province|Age|
+--------------------+-------------------+--------------------+---+
|105a836b-01e0-42b...|Jacqueline Davidson|        Saskatchewan| 54|
|54ec8d0b-4b15-40e...|        Karen Simon|            Manitoba| 28|
|76b5d5e1-395c-4d2...|       Thomas Burns|            Manitoba| 40|
|f7274305-e452-4ea...|       Eric Wallace|            Manitoba| 40|
|e603c54a-a033-467...|     Sabrina Bailey|    British Columbia| 60|
|27d67434-18df-4d4...|     Phillip Willis|Newfoundland and ...| 33|
|147af1e7-3b05-448...|     Jessica Bryant|             Ontario| 45|
|f8725a94-5829-4f4...|     Clinton Butler|        Saskatchewan| 57|
|1f952c54-b904-4e3...|    Kenneth Houston|Prince Edward Island| 42|
|fea5cf9b-2be8-47d...|     Melissa Miller|         Nova Scotia| 38|
+--------------------+-------------------+--------------------+---+
only showing top 10 rows

In [36]:
transaction.createOrReplaceTempView("transaction")
orders.createOrReplaceTempView("orders")
sales.createOrReplaceTempView("sales")
customers.createOrReplaceTempView("customers")

In [37]:
res1 = spark.sql("select * from transaction limit 2")
res1.show()

+--------------------+--------------------+------------------+
|             orderId|                Date|            Amount|
+--------------------+--------------------+------------------+
|728c68ad-7aad-4c2...|2023-02-03 17:33:...|215.62263154223422|
|a7c76589-63c2-461...|2023-07-04 17:33:...|119.60487811212103|
+--------------------+--------------------+------------------+

In [38]:
res2 = spark.sql("select province, avg(age) as AverageAge,min(age) as MinAge ,max(age) as MaxAge from sales group by province")
res2.show()

+--------------------+------------------+------+------+
|            province|        AverageAge|MinAge|MaxAge|
+--------------------+------------------+------+------+
|             Alberta|45.124501992031874|    25|    65|
|    British Columbia| 45.07258883248731|    25|    65|
|            Manitoba|44.778978388998034|    25|    65|
|       New Brunswick| 44.89420654911839|    25|    65|
|Newfoundland and ...|44.695915279878975|    25|    65|
|         Nova Scotia|45.023054755043226|    25|    65|
|             Ontario| 44.73665297741273|    25|    65|
|Prince Edward Island| 44.82275931520645|    25|    65|
|              Quebec|45.092574257425746|    25|    65|
|        Saskatchewan| 44.74571140262361|    25|    65|
+--------------------+------------------+------+------+

In [39]:
res3 = spark.sql("select Province, round(sum(amount),2) as TotalAmount, round(avg(amount),2) as AvgAmount, count(c.customerid) as TotalCustomers from transaction t join orders as o on t.orderid=o.orderid join customers as c on c.customerid=o.customerid group by Province order by TotalAmount,AvgAmount,Province ")
res3.show()

+--------------------+-----------+---------+--------------+
|            Province|TotalAmount|AvgAmount|TotalCustomers|
+--------------------+-----------+---------+--------------+
|    British Columbia|  972062.61|   495.19|          1963|
|              Quebec|  989091.01|   497.53|          1988|
|             Ontario|  993588.21|   504.62|          1969|
|             Alberta|  994217.95|   508.55|          1955|
|        Saskatchewan|  995883.39|   502.72|          1981|
|       New Brunswick| 1013191.17|   503.32|          2013|
|Newfoundland and ...| 1026361.87|    506.6|          2026|
|            Manitoba| 1028879.84|   504.35|          2040|
|         Nova Scotia| 1034974.17|   509.34|          2032|
|Prince Edward Island|  1044275.4|   513.66|          2033|
+--------------------+-----------+---------+--------------+

In [40]:
res4=spark.sql("select s.salesid, sum(t.amount) as TotalSales  from transaction t join orders as o on t.orderid=o.orderid join sales as s on s.salesid=s.salesid group by s.salesid order by TotalSales desc limit 10 ")
res4.show()

+--------------------+--------------------+
|             salesid|          TotalSales|
+--------------------+--------------------+
|b12db433-05e2-441...|1.0092525612129884E7|
|198366cb-588c-414...|1.0092525612129884E7|
|82625d5a-817e-476...|1.0092525612129884E7|
|4c09304f-09e4-426...|1.0092525612129884E7|
|db362168-10c7-441...|1.0092525612129884E7|
|3a40524f-090c-4a7...|1.0092525612129884E7|
|3153e68c-f5bb-436...|1.0092525612129884E7|
|d3e45018-5808-442...|1.0092525612129884E7|
|333cc260-7e28-4a1...|1.0092525612129884E7|
|5f205eea-077e-4ae...|1.0092525612129884E7|
+--------------------+--------------------+